@import '../../styles/variables.sass'

.navBar
    height: 2rem
    background-color: $main-color
    box-shadow: 0px 0px 20px 12px $main-color
    margin-bottom: 20px
    &__logo
        height: 100%